<footer class="bg-black" aria-labelledby="footer-heading">
  {{#if blog}}
    {{> "footer-post"}}
  {{/if}}

  {{#if post_page}}
    {{> "footer-post"}}
  {{/if}}

  {{#if other}}
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="space-y-8">
          <a class="flex items-center" href="/home">
            <img src="{{ asset "images/logo.png"}}" width="30" height="30" alt="logo">
            <span class="text-2xl font-medium text-white ml-2">kolosek</span>
          </a>
          <p class="text-sm leading-6 text-gray-300">Novi Sad, Serbia, Europe</p>
          <div class="flex space-x-6">
            <a href="https://github.com/kolosek" class="text-gray-400 hover:text-gray-500"  target="_blank">
              <img src="{{ asset "images/git.svg"}}">
            </a>

            <a href="https://www.facebook.com/Kolosekcom/" class="text-gray-400 hover:text-gray-500"  target="_blank">
             <img src="{{ asset "images/facebook.svg"}}">
            </a>

            <a href="https://www.instagram.com/kolosekcom/?hl=en" class="text-gray-400 hover:text-gray-500"  target="_blank">
              <img src="{{ asset "images/instagram.svg"}}">
            </a>

            <a href="https://twitter.com/kolosekcom" class="text-gray-400 hover:text-gray-500"  target="_blank">
             <img src="{{ asset "images/twitter.svg"}}">
            </a>

            <a href="https://rs.linkedin.com/company/kolosek-it" class="text-gray-400 hover:text-gray-500"  target="_blank">
             <img src="{{ asset "images/linkedin.svg"}}">
            </a>
          </div>
        </div>
        <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-white">Solutions</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="/about" class="text-sm leading-6 text-gray-300 hover:text-gray-400">About Us</a>
                </li>

                <li>
                  <a href="/careers" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Careers</a>
                </li>

                <li>
                  <a href="/" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Blog</a>
                </li>

                <li>
                  <a href="/contact" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Contact</a>
                </li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="/process" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Our Process</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Portfolio</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="/design_review" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Design Review</a>
                </li>

                <li>
                  <a href="/code_review" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Code Review</a>
                </li>

                <li>
                 <a href="/open_source" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Open Source</a>
                </li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Privacy</a>
                </li>
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-gray-400">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
        <p class="text-xs leading-5 text-gray-500 text-center">Copyright &copy; 2023 KOLOSEK. All rights reserved.</p>
      </div>
    </div>
  {{/if}}
</footer>
