<div class="mx-auto max-w-7xl px-6 pb-8 lg:px-8 pt-10">
  <div class="flex justify-between">
    <p class="text-3xl font-bold text-left text-white pl-6">Creating <br /> software solutions <br /> that work</p>

    <div class="space-y-8">
      <div class="flex space-x-6">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img src="{{ asset "images/git.svg"}}">
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
         <img src="{{ asset "images/facebook.svg"}}">
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img src="{{ asset "images/instagram.svg"}}">
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
         <img src="{{ asset "images/twitter.svg"}}">
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
         <img src="{{ asset "images/linkedin.svg"}}">
        </a>
      </div>
      <p class="text-sm leading-6 text-gray-300">Novi Sad, Serbia, Europe</p>
    </div>
  </div>
  <div class="mt-16 border-t-2 border-gray-900 pt-8 mt-16">
    <p class="text-xs leading-5 text-gray-500 text-center">Copyright &copy; 2023 KOLOSEK. All rights reserved.</p>
  </div>
</div>
