<article class="post-card {{post_class}}{{#match @custom.feed_layout "Classic"}}{{#is "home"}}{{#has index="0"}} post-card-large{{/has}}{{#has index="1,2"}} dynamic{{/has}}{{/is}}{{/match}}{{#match @custom.feed_layout "Grid"}} keep-ratio{{/match}}{{#match @custom.feed_layout "List"}}{{#is "home, paged"}} post-card-large{{/is}}{{/match}}{{#unless access}} post-access-{{visibility}}{{/unless}}">
  <li>
    <figure class="relative">
      <blockquote class="relative">
        {{#primary_tag}}
          <div class="text-sm mb-2 bg-slate-100 w-12 rounded-xl text-center">{{name}}</div>
        {{/primary_tag}}
        <p class="tracking-tight font-bold text-lg mb-3">
          <a href="#">{{title}}</a>
        </p>
        <p class="tracking-tight text-gray-600">
          {{excerpt}}
        </p>
      </blockquote>
        {{#primary_author}}
          <figcaption class="relative mt-6 flex items-center pt-2">
            <div class="overflow-hidden rounded-full bg-slate-50 mr-5">
                <img
                  class="h-12 w-12 object-cover"
                  src={{profile_image}}
                />
            </div>
            <div>
                <div class="font-display text-base text-slate-900">
                {{name}}
                </div>
       
                <div class="text-xs text-gray-400">
                  {{date ../published_at format="MMMM D, YYYY"}}
                </div>
            </div>
          </figcaption>
        {{/primary_author}}
    </figure>
  </li>
</article>
