{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 sm:mt-10 lg:mt-16">
    <p class="text-gray-600 text-center"> We're hiring! Visit our <a href="/careers" class="text-base leading-7 text-gray-900">Careers</a> page </p>
    <h1 class="relative mt-5 mx-auto font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl text-center" style="width: 80%;">
      Creating software solutions <br /> 
      that work
      <div class="flex justify-center mt-3">
        <img src={{asset "images/freehand/homepage/01.svg"}} />
      </div>
      <img class="absolute" style="top: 0px; right: 0px;" src={{asset "images/freehand/homepage/07.svg"}} />
    </h1>
    <div class="mt-12 flex justify-center gap-x-6">
      <a href="/contact">
        <button href="#" class="group inline-flex items-center justify-center rounded-full py-3 px-8 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Start your Project</button>
      </a>
    </div>
    <div class="mt-20 pt-20 text-center">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">State-of-the-art <br /> front-end and back-end systems</h1>
      <p class="mt-4 leading-8 text-gray-600">Why state-of-the-art? Because every app we create is a unique piece of work <br /> which our team, in cooperation with you, has dedicated its time to</p>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 sm:mt-10 lg:mt-16">
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            <img src="{{ asset "images/web2.svg"}}" />
          </dt>
          <p class="text-gray-900 mt-6 text-lg font-bold">Web Development</p>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-sm text-gray-600">
            <p class="flex-auto">Our developers and designers are there to find the best and the most creative solutions for you  and help you end up with a reliable product and user experience</p>
          </dd>
        </div>

        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            <img src="{{ asset "images/mobile.svg"}}" />
          </dt>
          <p class="text-gray-900 mt-6 text-lg font-bold">Custom Mobile Apps</p>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-sm  text-gray-600">
            <p class="flex-auto">Mobile apps are timeless. With their number constantly rising, we make sure to deliver an amazing experience combined with high performance across multiple platforms</p>
          </dd>
        </div>

        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            <img src="{{ asset "images/ux.svg"}}" />
          </dt>
          <p class="relative text-gray-900 mt-6 text-lg font-bold">
            User Experience
            <img class="absolute" style="top: -20px; left: 120px;" src={{asset "images/freehand/homepage/02.svg"}} />
          </p>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-sm text-gray-600">
            <p class="flex-auto">A good user experience should speak to the end user&apos;s emotions. Why? Because it&apos;s your user&apos;s perception of the product that is going to set you apart from all the other apps out there and your competition</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="flex flex-col items-center mt-20 pt-10 text-center">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">Round-the-clock care for your products</h1>
    <p class="mt-3 leading-8 text-gray-500">
      We always know what is ongoing and have a good advice
    </p>
    <div class="relative mt-10 flex justify-center">
       <img class="absolute" style="width: 180px; height: 160px; top: -100px; right: 0px" src={{asset "images/freehand/homepage/maximum_memory.svg"}} />
      <img src="{{ asset "images/graph_performance.png"}}" />
    </div>
  </div>

  <div class="mt-20 pt-10 text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-3xl">Quality code which will be presented <br /> through excellent UX</h1>
    <p class="mt-4 leading-8 text-gray-600">The Kolosek team consists of development and designer teams which make sure that clients get to fully <br /> experience our product development process — from coming up with a project idea, to design and front-end <br /> development, all the way to back-end development</p>
  </div>

  <div class="mt-20 pt-28 text-center bg-gray-50 pb-20 xl:pl-40 xl:pr-40">
    <div class="flex justify-center">
      <h1 class="relative text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl" style="width: 200px;">
        ..besides
        <img class="absolute" style="top: -26px; left: -10px;" src="{{ asset "images/freehand/homepage/04.svg"}}" />
      </h1>
    </div>
    <div class="flex justify-between font-bold text-left px-10 lg:px-40 mt-20">
      <ul>
        <li class="mb-4">
          <div class="flex items-center">
            <img src="{{ asset "images/check.png"}}" class="mr-4 w-3 h-3" />
            <div>Product research</div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex items-center">
            <img src="{{ asset "images/check.png"}}" class="mr-4 w-3 h-3" />
            <div>UI UX Design</div>
          </div>
        </li>
      </ul>
      <ul>
        <li class="mb-4">
          <div class="flex items-center">
            <img src="{{ asset "images/check.png"}}" class="mr-4 w-3 h-3" />
            <div>Test driven development</div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex items-center">
            <img src="{{ asset "images/check.png"}}" class="mr-4 w-3 h-3" />
            <div>DevOps</div>
          </div>
        </li>
      </ul>
      <ul>
        <li class="mb-4">
          <div class="flex items-center">
            <img src="{{ asset "images/check.png"}}" class="mr-4 w-3 h-3" />
            <div>Project management</div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex items-center">
            <img src="{{ asset "images/check.png"}}" class="mr-4 w-3 h-3" />
            <div>Marketing & Sales</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-20 lg:pt-12 text-center">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">Featured projects</h1>
    <p class="mt-4 leading-8 text-gray-600">Here are a few recent works we are proud of. For more check our <a href="https://link.kolosek.com/c358e220" class="text-base leading-7" target="_blank"><u class="relative">Portfolio<img class="absolute" style="top: -30px; left: -10px;" src={{asset "images/freehand/homepage/05.svg"}} /></u></a></p>
  </div>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-2 xl:gap-x-8">
        <div class="text-left">
          <img src="{{ asset "images/Rubi.ci.png"}}" />
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">              
          </div>
          <h3 class="mt-4 text-lg text-gray-900 font-bold">Rubi.ci</h3>
          <p class="mt-1 text-sm text-gray-500 mb-2">Best CI platform for your Rails application · 2-min setup with no extra code, tools & UI built for your Ruby on Rails Application</p>
          <div class="flex items-center">
            <img src="{{ asset "images/link.png"}}" class="mr-2 w-3 h-3"/>
            <div class="text-sm text-gray-400"> ruby.ci</div>
          </div>
        </div>

        <div class="text-left">
          <img src="{{ asset "images/The_Next_Closet.png"}}" />
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">     
          </div>
          <h3 class="mt-4 text-lg text-gray-900 font-bold">The Next Closet</h3>
          <p class="mt-1 text-sm text-gray-500 mb-2">The largest marketplace for second hand designer brands in Netherlands · Building and maintaining web and mobile app with millions of visitors per month</p>
          <div class="flex items-center">
            <img src="{{ asset "images/link.png"}}" class="mr-2 w-3 h-3"/>
            <div class="text-sm text-gray-400"> thenextcloset.com</div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 mt-10 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-2 xl:gap-x-8">
        <div class="text-left">
          <img src="{{ asset "images/O.school.png"}}" />
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
          </div>
          <h3 class="mt-4 text-lg text-gray-900 font-bold">O.school</h3>
          <p class="mt-1 text-sm text-gray-500 mb-2">Judgment-free, science-based sexual wellness platform · Initial product planning and execution · A virtual classroom app, based on live streaming technology and moderated chat · Featured on Techcrunch</p>
          <div class="flex items-center">
            <img src="{{ asset "images/link.png"}}" class="mr-2 w-3 h-3"/>
            <div class="text-sm text-gray-400"> o.school</div>
          </div>
        </div>

        <div class="text-left">
          <img src="{{ asset "images/MoviePilot.png"}}" />
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
          </div>
          <h3 class="mt-4 text-lg text-gray-900 font-bold">MoviePilot</h3>
          <p class="mt-1 text-sm text-gray-500 mb-2">Your guide to films & cinemas · Alternative of IMDB for Germany speaking market with huge number of visitors · We are sole technology partner using Ruby on Rails and React for several years</p>
          <div class="flex items-center">
            <img src="{{ asset "images/link.png"}}" class="mr-2 w-3 h-3"/>
            <div class="text-sm text-gray-400"> moviepilot.de</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-10 text-center">
    <div class="flex justify-center">
      <h1 class="relative text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl" style="width: 500px;">
        Prioritizing privacy & security
        <img class="absolute" style="top: -38px; left: -2px;" src={{asset "images/freehand/homepage/06.svg"}} />
      </h1>
    </div>
    <p class="mt-4 leading-8 text-gray-600">We believe in process driven development & privacy of the data <br /> ISO 9001:2013, ISO 27001:2013 USA certification</p>
  </div>
  <div class="overflow-hidden bg-white py-10 sm:py-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pt-4">
          <div class="lg:max-w-lg text-left">
            <dl class="mt-3 max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
              <div id="panel_tab1" class="relative pl-9 bg-black pt-6 pb-6 cursor-pointer">
                <dt class="inline font-semibold text-gray-50">
                  Build quality software faster!
                </dt>
                <dd class="text-gray-400">With our automated optimization tools</dd>
              </div>

              <div id="panel_tab2" class="relative pl-9  pt-6 pb-6 cursor-pointer">
                <dt class="inline font-semibold text-gray-900">
                  No more searching
                </dt>
                <dd class="text-gray-400">Know what test is exactly broken and where it is</dd>
              </div>

              <div id="panel_tab3" class="relative pl-9 pt-6 pb-6 cursor-pointer">
                <dt class="inline font-semibold text-gray-900">
                  Slowest files report
                </dt>
                <dd class="text-gray-400">Know where are those bottlenecks</dd>
              </div>

              <div id="panel_tab4" class="relative pl-9 pt-6 pb-6 cursor-pointer">
                <dt class="inline font-semibold text-gray-900">
                  Stay on track!
                </dt>
                <dd class="text-gray-400">Get notified that the build failed</dd>
              </div>
            </dl>
          </div>
        </div>
        <img id="panel_img1" src="{{ asset "images/interface.png"}}" />
        <img id="panel_img2" style="display: none;" src="{{ asset "images/interface.png"}}" />
        <img id="panel_img3" style="display: none;" src="{{ asset "images/interface.png"}}" />
        <img id="panel_img4" style="display: none;" src="{{ asset "images/interface.png"}}" />
      </div>
    </div>
  </div>

  <div class="mt-20 lg:mt-20 mb-10" }>
    <p class="font-display text-center text-gray-400">
      Trusted by
    </p>
    <ul class="mt-8 flex items-center justify-center gap-x-8 sm:flex-col sm:gap-x-0 sm:gap-y-10 xl:flex-row xl:gap-x-12 xl:gap-y-0">
      <li>
        <ul class="flex flex-col items-center gap-y-8 sm:flex-row sm:gap-x-12 sm:gap-y-0">
          <li class="flex">
            <img src="{{ asset "images/thenextcloset.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/boardspan.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/squire.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/simone_leblanc.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/listium.png"}}" width="140" height="100" />
          </li>
        </ul>
      </li>
    </ul>
    <ul class="mt-8 flex items-center justify-center gap-x-8 sm:flex-col sm:gap-x-0 sm:gap-y-10 xl:flex-row xl:gap-x-12 xl:gap-y-0">
      <li>
        <ul class="flex flex-col items-center gap-y-8 sm:flex-row sm:gap-x-12 sm:gap-y-0">
          <li class="flex">
            <img src="{{ asset "images/school.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/moviepilot.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/wrap.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/ruby_ci.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/versa.png"}}" width="140" height="100" />
          </li>
          <li class="flex">
            <img src="{{ asset "images/stylemyls.png"}}" width="140" height="100" />
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <section
    id="testimonials"
    aria-label="What our customers are saying"
    class="py-20 sm:py-32"
  >
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl md:text-center">
        <div class="flex justify-center">
          <h2 class="relative font-display text-3xl tracking-tight text-slate-900 sm:text-4xl" style="width: 300px;">
            From the blog
            <img class="absolute" style="top: -0px;; right: 10px;" src={{asset "images/freehand/homepage/07.svg"}} />
          </h2>
        </div>
        <p class="mt-4 tracking-tight text-slate-600">
          Usually we are writing about what we are interested in doing. Visit our <a href="#" class="text-base leading-7"><u><a href="/blog">Blog</a></u></a> for more
        </p>
      </div>
      <ul
        role="list"
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3"
      >
        {{#get "posts" filter="featured:true" limit="1" include="authors,tags"}}
          {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

          {{/foreach}}
        {{/get}}

        {{#get "posts" filter="featured:false" limit="6" include="authors,tags"}}
          {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

          {{/foreach}}
        {{/get}}
      </ul>
    </vid>
  </section>

</main>

{{> footer other=true}}
