{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto px-4 sm:px-6 lg:px-8 pt-20 lg:pt-20 text-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight">We're Proud of Our <br />Many High Quality Apps</h1>
      <p class="mt-6 leading-7 text-gray-600">Over the years, we have created a number of high-quality apps using Ruby on Rails, React, Angular, Node, and other technologies. <br />
      Our team has worked on and contributed to various mobile and web development projects.</p>
    </div>

    <div class="lg:pl-24 lg:pr-24 mt-20 mb-20">
      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    GetSquire
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Squire</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Project lead, front-end development in ReactJS</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">NodeJS, ReactJS, iOS native</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco, New York</span>
                  </div>
                  <div class="text-orange-500">Y combinator</div>
                  <p class="mt-6 text-gray-500">Squire helps users discover barber shops based on their location. It checks the availability and helps the user to reserve a timeslot. Paying for the service is pretty easy and done in the app.</p>
                  <p class="mt-6 mb-10 text-gray-500">The biggest challenge with creating Squire was to build the project in <b>three different technologies</b> and combine them in one meaningful, production-ready product. We have managed to overcome this challenge and the results were amazing - the app ended up featuring <b>over 1,000 shop owners</b>. The success has not gone unnoticed, since the app is featured in</p>
                  <a href="https://www.getsquire.com/" class="font-medium">
                    Visit GetSquire>
                  </a>
                </div>
              </div>
            </div>
            <div class="flex justify-center" target="_blank">
              <img src="{{ asset "images/get_squire.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    O.School
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">O.School</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Development team</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby on Rails, Ruby, API</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco</span>
                  </div>
                  <div class="text-orange-500">Raised A series</div>
                  <p class="mt-6 text-gray-500">A vrtual classroom app, based on live streaming technology and moderated chat. O.school is a one of a kind software that touches a slightly sensitive topic.</p>
                  <p class="mt-6 mb-10 text-gray-500">We always remember creating O.school with great joy, especially the collaboration with Andrea, the CEO. After development, <b>800 000$</b> was raised to help achieve its goal. The success was also feautred in Techcrunch magazine.</p>
                  <div class="font-bold">
                    <a href="https://www.o.school/">
                      Visit O.school>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center" target="_blank">
              <img src="{{ asset "images/o_school_image.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Boardspan
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Boardspan</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Interim CTO, Full tech team</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby/Rails, JavaScript, 3rd party integrations</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco</span>
                  </div>
                  <div class="text-orange-500">98% test coverage, high reliability</div>
                  <p class="mt-6 text-gray-500">This is a Ruby on Rails application that brings everything your board needs in one place. It has a number of 3rd party integrations, document synchronization and company feeds integrated in close collaboration with <b>numerous third-party data sources</b>.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">The groundbreaking <b>Online Board Search and High Service Consulting</b> are the two most time- and cost-efficient ways to build your board. It’s not only easier…it’s smarter. Nowadays, many companies use Boardspan, including public, private and non-profit organizations..</p>
                  <div class="font-bold">
                    <a href="https://boardspan.com/" target="_blank">
                      Visit Boardspan>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/boardspan_image.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Rency
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Startup</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Extension of the team in Texas</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">ReactJS, Ruby, Ruby on Rails</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">Austin</span>
                  </div>
                  <p class="mt-6 text-gray-500">Navigate the blockchain with Rency's research.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">Rency provides comprehensive ratings and analysis on popular cryptocurrencies in the industry. Analyze, compare, and contrast on Rency before investing..</p>
                  <div class="font-bold">
                    <a href="https://rency.com/" target="_blank">
                      Visit Rency>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/rency_image.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Listium
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Startup</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Maintaince team</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600"> ReactJS, NodeJS</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">Melbourne</span>
                  </div>
                  <p class="mt-6 mb-10 text-gray-500">Find or create the perfect list for any job. Add custom fields such as text, numbers, ratings, checkboxes, images, maps, and more..</p>
                  <div class="font-bold">
                    <a href="https://listium.com/">
                      Visit Listium>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center" target="_blank">
              <img src="{{ asset "images/listium_image.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    DispletAPI
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Displet</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Development of the app</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby, Amazon AWS</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">Dallas, Texas</span>
                  </div>
                  <p class="mt-6 text-gray-500">Real Estate search API built in Ruby on Rails along with administration console. API provides search results for whole Texas state and beyond.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">DB has <b>70 Milion records</b> in database of rental properties, properties for sale and sold apartments. <b>Each month it imports 2 million new records of data</b>, and everything is handeled with Amazon multi server enviroment along with read replicas of the DB.</p>
                  <div class="font-bold">
                    <a href="https://wordpress.org/plugins/displetreader-wordpress-plugin/" target="_blank">
                      Visit Displet>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/displet_api.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Wrap
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Wrap</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Extension of the team in San Francisco</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">AngularJS, Ruby, Ruby on Rails, Android</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco</span>
                  </div>
                  <div class="text-orange-500">Raised B round</div>
                  <p class="mt-6 text-gray-500">Mobile engagement technology for deepening relationships, improving loyalty and driving commerce. Tell your story, provide service, or sell products right in the messaging feed. All with no programming, no waiting, and no apps to download.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">Working on Wrap was inspiring, to say the least. The Wrap was a big startup that raised <b>Series B funding</b>. While working on this project, Kolosek team had a chance to <b>partner up with around 100 people</b> from the San Francisco office.</p>
                  <div class="font-bold">
                    <a href="https://www.wrap.co/" target="_blank">
                      Visit Wrap>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/wrap_image.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    StringWire
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">NBC News channel</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Extension of the NewYork based team</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">AngularJS, Ruby, Ruby on Rails, Android</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco</span>
                  </div>
                  <p class="mt-6 text-gray-500">An NBC News channel app for live streaming/recoding from smart phone. Stream your world real-time with live video from anywhere to audiences everywhere. It is built to support <b>millions of users</b>.
                  </p>
                  <p class="mt-6 text-gray-500">Just like it was the case with <b>astrology.com</b>, Kolosek team was an extension of the team in New York. Our partnership was even better than the first time.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">In the end, StringWire has proved to be a <b>huge success!</b> Actually, it was used until the <b>Periscope</b> from Twitter took the lead in the same field.</p>
                  <div class="font-bold">
                    <a href="https://apps.apple.com/us/app/stringwire/id903661860" target="_blank">
                      Visit Stringwire>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/string_wire.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Astrology.com
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">NBC News</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Extension of the NewYork team</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby, Ruby on Rails, API</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco</span>
                  </div>
                  <div class="text-orange-500">In production for 10+ years, acquired</div>
                  <p class="mt-6 text-gray-500">Astrology is an NBC News Channel app that has been in the production for <b>10+ years</b>. It’s unique design and fail-safe feature got this product to be sold after <b>3 years</b> of our collaboration with the team in New York.
                  </p>
                   <p class="mt-6 text-gray-500">Working as an extension of a New York-based team was a great experience! Cooperating with the team was easy and both team’s creativity came to life.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">Astrology was a huge step forward for Kolosek. After the successful acquisition of the app, we have partnered with NBC News channel to work on next big project - <b>StringWire</b>.</p>
                  <div class="font-bold">
                    <a href="https://www.astrology.com/us/home.aspx" target="_blank">
                      Visit Astrology.com>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/astrology.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Teletale
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">GrandConsulting</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Tech lead, 100% development</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby, Ruby on Rails, Sockets, API</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">San Francisco</span>
                  </div>
                  <div class="text-orange-500">Rapid development principle</div>
                  <p class="mt-6 text-gray-500">Teletale is a private, enterprise application for in-house handling incoming calls from customers. It has numerous features that can help the business: <b>integrated payment tracking, integrated payment billing, live call recording</b> and many others.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">Creating Teletale was a bit challenging. However, we managed to develop <b>full-blown production ready app in 1 month</b>. How? Thanks to Rapid Development approach. We distinctly remember that the client's response was just <b>"Well damn, I didn't expect that!"</b>. It has been in production since the very first day it was sent to the client.</p>
                  <div class="font-bold">
                    Private app
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/teletale.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Prospect Manager
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Tech lead, 100% development</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">React Native, Redux</span>
                  </div>
                  <div class="text-blue-500">Mobile App</div>
                  <p class="mt-6 text-gray-500">Prospect is a sales automation platform which helps the user to easily generate prospects’ email, phone number, job title or any other information that could be of interest. In fact, finding prospects’ information has never been so effortlessーthe web app requires adding a Google Chrome Extension and all the information is just one click away.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">How did we help Prospect.io? We collaborated with them to create <b>a mobile version</b> of this app, perfect for the modern sales team. We used <b>React Native</b> to do it. Although it took us only a month to build the app we can positively say it is was a joy making it. If you are interested in how the app looks and works, check it out on Google Play Store.</p>
                  <div style="width: 150px;">
                    <a href="https://play.google.com/store/apps/details?id=com.kolosek.prospectio" target="_blank">
                       <img src="{{ asset "images/google-play-icon.png"}}" style="width: 150px; height: 46px;" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/prospect_manager.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Hunter Manager
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Tech lead, 100% development</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600"> React Native, Redux</span>
                  </div>
                  <div class="text-blue-500">Mobile App</div>
                  <p class="mt-6 text-gray-500">Hunter.io app definitely caught our eye and we decided to “make a move”. This is a product similar to the Prospect’s oneーan automated tool for finding emails. With this tool, <b>finding emails has never been that accessible</b>.
                  </p>
                  <p class="mt-6 text-gray-500">Inspired by the product we created for Prospect.io, we decided to make <b>a mobile version</b> of the Hunter app. One of the benefits of this app is that it provides the user with a couple searching possibilities which generate the most exacting email addresses. This is just one of the features we included in our mobile version of the app.
                  </p>
                  <p class="mt-6 mb-10 text-gray-500">On our journey of bringing the app to life, we used <b>React Native</b>, which delivered the best product solution in no-time. We believe Hunter team would be pleased with this solution.</p>
                  <div class="font-bold">
                    In development
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/hunter_manager.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Circleci Manager
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Tech lead, 100% development</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600"> React Native, Redux</span>
                  </div>
                  <div class="text-blue-500">Mobile App</div>
                  <p class="mt-6 mb-10 text-gray-500">Circle Ci is an app that helps development teams to <b>automate their process</b> from committing to deploying. Its biggest advantages are that it has multiple integrations and provides automated tests. With this automation platform, an app can meet the market faster. We liked the concept behind this idea, so we decided to turn it into a mobile version. With the help of <b>React Native</b>, we managed to transfer this platform to a mobile world. We are glad to have a chance to help fellow developers in being more productive and building an app with more control and flexibility.</p>
                  <div class="font-bold">
                    In development
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/circle_ci_manager.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Stylemyle
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Stylemyle</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Updating servers, migrating database, server protection, development</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby on Rails, eCommerce</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">Singapore</span>
                  </div>
                  <p class="mt-6 mb-10 text-gray-500">Stylemyle is a leading online retailer for emerging, premium and contemporary luxury fashion brands. Based on the idea of “Discovery” Stylemyle provides the ultimate mix of emerging and established contemporary luxury designers from unique boutiques around the world. They offer a unique shopping experience across mobile, tablet and desktop where customers can seamlessly order an amazing mix of stylish designers.</p>
                  <div class="font-bold">
                    <a href="https://www.stylemyle.com/" target="_blank">
                      Visit Stylemyle>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/stylemyle.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    VersaCommerce
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600">Versacommerce</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Adding plugins, micro-services</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby on Rails, eCommerce</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">Germany</span>
                  </div>
                  <p class="mt-6 mb-10 text-gray-500">VersaCommerce is an integrated platform for sales on all important channels: online shop, cash register, Amazon and Facebook. These are operated from the digital product catalog and all orders, invoices and goods stocks are managed centrally.</p>
                  <div class="font-bold">
                    <a href="https://www.versacommerce.de/" target="_blank">
                      Visit VersaCommerce>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/verca_commerce.png"}}" />
            </div>
          </div>
        </div>
      </div>

      <div class="overflow-hidden bg-white py-16 sm:py-28 border-t border-b border-gray-150">
        <div class="mx-auto px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="text-left">
              <div class="max-w-xl text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9 pt-2 pb-6">
                  <div class="inline text-3xl font-semibold">
                    Simone LeBlanc
                  </div>
                  <div class="mt-4">
                    <span class="text-gray-400">Client:</span>
                    <span class="text-gray-600"> Simone LeBlanc</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Our role:</span>
                    <span class="text-gray-600">Adding plugins, micro-services</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Technologies:</span>
                    <span class="text-gray-600">Ruby on Rails, eCommerce</span>
                  </div>
                  <div>
                    <span class="text-gray-400">Location:</span>
                    <span class="text-gray-600">Los Angeles, USA</span>
                  </div>
                  <p class="mt-6 mb-10 text-gray-500">Simone LeBlanc is a premium gift company in Los Angeles creating unique gift boxes for wedding, celebration, birthdays corporate gifts and numerous other special events. Highest quality products, love of fine details and authentic approach has acquired them loyal customers and high profile devotees.</p>
                  <div class="font-bold">
                    <a href="https://simoneleblanc.com/" target="_blank">
                      Visit Simone LeBlanc>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-center">
              <img src="{{ asset "images/simone_leblank.png"}}" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{{> footer other=true}}
