{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 lg:pt-20 text-center">
  	<div class="text-center">
      <h1 class="text-5xl font-bold tracking-tight">We Build Great Software</h1>
      <p class="mt-5 leading-6 text-gray-500">Our competence in custom software development has helped launch <br /> multiple successful startup companies</p>

    <div class="mt-16 bg-white mb-20">
      <div class="relative">
        <div class="relative mx-auto max-w-10xl px-6 lg:px-8">
          <div class="mx-auto max-w-5xl">
            <dl class="rounded-lg bg-white sm:grid sm:grid-cols-4">
              <div class="relative flex justify-center items-center pt-5">
                <b class="text-3xl mr-2">11</b>
                <div class="font-semibold text-sm pt-3">
                  years
                </div>
                <img class="absolute" style="width: 110px; height: 100px;" src={{asset "images/freehand/about/01.svg"}} />
              </div>
              <div class="flex justify-center items-center pt-5">
                <b class="text-3xl mr-2">30</b>
                <div class="font-semibold text-sm pt-3">
                  employees
                </div>
              </div>
              <div class="flex justify-center items-center pt-5">
                <b class="text-3xl mr-2">8+</b>
                <div>
                  <div class="text-left font-semibold text-sm">years longevity</div>
                  <div class="text-left font-semibold text-sm">of support</div>
                </div>
              </div>
              <div class="relative flex justify-center items-center pt-5">
                <b class="text-3xl mr-3">1-2</b>
                <div>
                  <div class="text-left font-semibold text-sm">products/year gets</div>
                  <div class="text-left font-semibold text-sm">to Series A funding</div>
                </div>
                <img class="absolute invisible lg:visible" style="top: 68px;" src={{asset "images/freehand/about/02.svg"}} />
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <p class="text-gray-500 text-sm">Since 2011 we have partnered with more than 30 brands. Mostly from America, Europe & Australia</p>

    <div class="mt-20 lg:mt-20 mb-10" }>
	    <ul class="mt-8 flex items-center justify-center gap-x-8 sm:flex-col sm:gap-x-0 sm:gap-y-10 xl:flex-row xl:gap-x-12 xl:gap-y-0">
	      <li>
	        <ul class="flex flex-col items-center gap-y-8 sm:flex-row sm:gap-x-12 sm:gap-y-0">
	          <li class="flex">
	            <img src="{{ asset "images/thenextcloset.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/boardspan.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/squire.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/simone_leblanc.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/listium.png"}}" width="140" height="100" />
	          </li>
	        </ul>
	      </li>
	    </ul>
	    <ul class="mt-8 flex items-center justify-center gap-x-8 sm:flex-col sm:gap-x-0 sm:gap-y-10 xl:flex-row xl:gap-x-12 xl:gap-y-0">
	      <li>
	        <ul class="flex flex-col items-center gap-y-8 sm:flex-row sm:gap-x-12 sm:gap-y-0">
	          <li class="flex">
	            <img src="{{ asset "images/school.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/moviepilot.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/wrap.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/ruby_ci.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/versa.png"}}" width="140" height="100" />
	          </li>
	          <li class="flex">
	            <img src="{{ asset "images/stylemyls.png"}}" width="140" height="100" />
	          </li>
	        </ul>
	      </li>
	    </ul>
	  </div>

	  <div class="flex flex-col items-center mt-20 pt-10">
      <h1 class="text-3xl font-bold tracking-tight">Meet the team</h1>
      <p class="relative mt-3 text-gray-500 text-sm">
        We are a project development team that consists of bright and witty dog lovers
        <img class="absolute" style="top: 2px; right: -62px;" src={{asset "images/freehand/about/03.svg"}} />
        <img class="absolute"  style="width: 160px; top: -35px; right: -88px;" src={{asset "images/freehand/about/loving_cats.svg"}} />
      </p>
      <div class="bg-white">
        <div class="mx-auto max-w-2xl mt-10 mb-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-5 md:gap-y-0 lg:gap-x-6">
            <div class="group relative">
              <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
              	<img src="{{ asset "images/team1.png"}}" class="h-full w-full object-cover object-center">
              </div>
            </div>
             <div class="group relative">
              <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
              	<img src="{{ asset "images/team2.png"}}" class="h-full w-full object-cover object-center">
              </div>
            </div>
            <div class="group relative">
              <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                <img src="{{ asset "images/team3.png"}}" class="h-full w-full object-cover object-center">
              </div>
            </div>
            <div class="group relative">
              <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                <img src="{{ asset "images/team4.png"}}" class="h-full w-full object-cover object-center">
              </div>
            </div>
            <div class="group relative">
              <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                <img src="{{ asset "images/team5.png"}}" class="h-full w-full object-cover object-center">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="mt-10 text-gray-400 text-sm text-left w-3/5">If Bill Gates was right and technology is just a tool, then we want to use it to create something awesome and help our clients as much as possible. Our biggest advantages are our drive and willingness to learn new things. We have been working in the industry for years and, until this day, we enjoy finding new solutions and technologies that cater to our clients demands.</p>
      <p class="mt-5 text-gray-400 text-sm text-left w-3/5">What happens when a new challenge comes up? We face it and overcome it, as a team. Poor leadership is expensive and that&apos;s why we make sure there is a proper leadership team development. With transparency, initiative, and proper communication we were able to efficiently complete all of our projects.</p>
    </div>

    <div class="flex flex-col items-center mt-20 pt-10">
      <h1 class="text-3xl font-bold tracking-tight">Technologies</h1>
      <p class="mt-3 text-gray-500 text-sm">Over the years, we have created a number of high-quality apps using Ruby on Rails, <br /> React, Angular, Node, and other technologies</p>
     	<img src="{{ asset "images/technologies.png"}}" />
      <p class="mt-5 text-gray-400 text-sm text-center w-2/4">We maintain a high level of engineering culture in the team and  constantly integrating latest and most relevant tools to improve workflow</p>
      <div class="flex justify-between p-20 pl-40 pr-40">
        <div class="flex items-center mr-20">
          <b class="text-3xl mr-2">5.0</b>
          <div class="font-semibold text-sm pt-3">
            clutch rating
          </div>
        </div>
        <div class="flex items-center">
          <b class="text-3xl mr-2">70M +</b>
          <div>
            <div class="text-left font-semibold text-sm">records may contain</div>
            <div class="text-left font-semibold text-sm">databases we operate</div>
          </div>
        </div>
      </div>  
    </div>

    <div class="flex flex-col items-center mt-10 md:mt-20">
      <h1 class="relative text-3xl font-bold tracking-tight">
        Community
        <img class="absolute" style="width: 65px; top: -32px; left: -38px;" src={{asset "images/freehand/about/04.svg"}} />
      </h1>
      <div class="flex flex-col items-center">
        <p class="mt-10 text-gray-500 text-sm text-left w-3/5">Kolosek is an open source software company. This means that those services we don’t offer within the company, we develop and share openly. We, too, use open source projects and in most cases, we try to improve their current versions and give back to both contributors and the community.</p>
        <p class="mt-3 text-gray-500 text-sm text-left w-3/5">We also unselfishly help nearby conferentions, ideas and movements as well as students and teaching facilities (e.g. Rails Girls).</p>
        <div class="bg-white">
          <div class="mx-auto max-w-2xl mt-10 mb-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="mt-6 grid grid-cols-1 gap-x-4 gap-y-10 sm:gap-x-6 sm:grid-cols-3 md:gap-y-0 lg:gap-x-8">
              <div class="group relative">
                <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                	<img src="{{ asset "images/community1.png"}}" class="h-full w-full object-cover object-center">
                </div>
              </div>
               <div class="group relative">
                <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                  <img src="{{ asset "images/community2.png"}}" class="h-full w-full object-cover object-center">
                </div>
              </div>
              <div class="group relative">
                <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                  <img src="{{ asset "images/community3.png"}}" class="h-full w-full object-cover object-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-3xl font-bold tracking-tight text-center mb-12" style="margin-top: 100px;">Make it happen</h1>
    <div class="container-fluid" style="padding-left: 30%; padding-bottom: 100px;">
      <div class="contact-section">
        <div class="row">
          <div class="container">
            <div></div>
            <div class="row">
              <div class="col-lg-8 col-md-12">
                <div class="posting-form cover">
                  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
                  <script>
                    hbspt.forms.create({
                    portalId: "1118038",
                    region: "na1",
                    formId: "0207a4e3-9ea2-4b7b-a5d2-b8eb561ba7dd",
                    locale: 'en',
                    version: "V2_PRERELEASE",
                    onFormSubmit: function($form) {
                      $('.cover').removeClass('cover');
                      ga('send', 'event', 'conversion', 'contact');
                      setFormParameters($form)
                    } 
                  });
                  </script>
                </div>          
                
              </div>
            </div>
          </div>
        </div>
      <!-- Contact form scripts start -->
      <!-- Contact form scripts end -->
      </div>
    </div> 
  </div>
</main>

{{> footer other=true}}


