{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 lg:pt-20 text-center">
    <div class="text-center">
      <h1 class="text-5xl font-bold tracking-tight">Our Process</h1>
      <p class="mt-5 leading-7 text-gray-600">Now you will be able to find out more about the eight steps of our product development process that <br /> ensures we deliver reliable, secure and high-performance web and mobile apps</p>
    </div>
    <div class="flex flex-col items-center mt-20 pt-10">
      <h1 class="text-3xl font-bold tracking-tight">Step 1: the planning</h1>
      <p class="mt-3 text-gray-500 text-sm">Over the years, we have created a number of high-quality apps using Ruby on Rails, <br /> React, Angular, Node, and other technologies</p>
    </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-16 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="text-left relative pl-16">
          <dt class="flex justify-center font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center">
              <img src="{{ asset "images/Heartbeat.svg"}}" >
            </div>
          </dt>
          <dd class="mt-2 text-sm leading-6 text-gray-500">The planning phase helps us fulfill the purpose of our project, which is creating an amazing product that caters to our client's needs. During this phase, we rely quite a bit on our clients input because it helps us determine essential elements of the project</dd>
        </div>

        <div class="text-left relative pl-16">
          <dt class="flex justify-center font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center">
              <img src="{{ asset "images/Users.svg"}}" >
            </div>
          </dt>
          <dd class="mt-2 text-sm leading-6 text-gray-500">Communication is the key when we're planning our next move, which is why we like to meet with our clients face-to-face in order to learn as much as we can about them and their ideas and goals. If such a meeting is not possible, we use tools like Slack and Skype to help us out</dd>
        </div>
      </dl>
    </div>

    <div class="flex flex-col items-center text-center mt-28">
      <h1 class="text-3xl font-bold tracking-tight">Step 2: UX UI design</h1>
      <img src="{{ asset "images/process.png"}}" class="mt-12" >
      <div class="flex justify-between mt-3 w-2/5">
        <div class="font-semibold">Research</div>
        <div> &#xFFEB;</div>
        <div class="font-semibold">UX Wireframes</div>
        <div> &#xFFEB;</div>
        <div class="font-semibold">Visual Concept</div>
        <div> &#xFFEB;</div>
        <div class="font-semibold">UI Design</div>
      </div>
      <p class="mt-5 text-gray-400 text-sm">We use the most advanced design tools in our workflow</p>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-16 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Lightning.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">We take a close look at our clients's business goals, target audience, competitors and industry; take into account the best UX solutions. We propose a visual concept based not only on the client's preferences, but also on research and experience in the evolution of other products</dd>
          </div>

          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Eye.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">As a client, you will have a full insight into the concept and wireframes, as well as the reasoning behind them. Our team of designers always makes sure that every necessary change is rapidly implemented</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="flex flex-col items-center text-center mt-28">
      <h1 class="text-3xl font-bold tracking-tight">Step 3: choosing a platform</h1>
      <p class="mt-5 text-gray-500">Your app should solve your users problem <br /> Depending on what the problem is, we choose the correct platform</p>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-16 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Folder.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">Every project aims different audiance, and meant for different purposes. That's why there is no silver bullet. We talk with our clients about their unique needs and we do the research on what is the best approach to take from choosing technology point of view. Of course, after years of experience, we know what works best in certain types of scenarios</dd>
          </div>

          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Full_Stack.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">We also use React and React Native. Both of these provide us with full control over JavaScript and the possibility to iteratively develop and test. For iOS apps we use Swift and for Android apps there is Java</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="flex flex-col items-center text-center mt-28">
      <h1 class="text-3xl font-bold tracking-tight">Step 4: production</h1>
      <p class="mt-5 text-gray-500 text-center">Production is a part of the software development life cycle in which we focus on the product the most</p>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-16 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Shield - 1.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">Production grade apps should sustain heavy load without breaking. Read replicas, mutliple instances, load balancer, DDoS protection, and performance monitoring are some of the elements of puzzle for keeping app up and running even when you are not awake</dd>
          </div>

          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Cloud.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">For hosting, we use Heroku, Amazon and many other services depending on project. Sometimes raw power is the best, sometimes something else. In any case we choose what's best for production application. Amazon's Platform as a Service helps us focus on the most important thing — creating the app. We don't have to worry about web and app servers</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="flex flex-col items-center text-center mt-28">
      <h1 class="text-3xl font-bold tracking-tight">Step 5: code quality</h1>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-16 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Globe.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">We have worked with numerous companies around the world and perfected the process based on our experience. We gathered experience working with big startups in USA, Melbourne and accross Europe. Different approaches, great people, big knowledge</dd>
          </div>

          <div class="text-left relative pl-16">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Chart.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500">A big part of the product development process is Test Driven Development (TDD). In order to ensure the quality of our code, we strive to use it in all processes. Of course, we use pull requests, peer review and several other processes to ensure code quality</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="flex flex-col items-center mt-20 pt-10">
      <h1 class="text-3xl font-bold tracking-tight">Step 6: KPIs</h1>
      <p class="mt-5 text-gray-600">Without KPIs, it would be challenging to solve performance issues & stay focused <br /> on the software development life cycle</p>
      <p class="mt-12 text-gray-500 text-left text-sm w-3/4">KPI (Key Performance Indicators) are business metrics we use to track several factors that affect the overall success of the process. They serve as guidance towards strategic plans and show the progress that has been made. We measure KPIs periodically and compare them to the previously set objects</p>
    </div>

    <div class="flex flex-col items-center mt-20 pt-10">
      <h1 class="text-3xl font-bold tracking-tight">Step 7: retrospective</h1>
      <p class="mt-5 text-gray-600">Retrospective meetings help us analyze all the previous activities <br /> and identify the ones that need improvement</p>
      <p class="mt-12 text-gray-500 text-left text-sm w-3/4">In order to ensure the maximum quality of the product development process, we regularly have retrospective meetings. What we can we improve, on weekly basis. Like sports team, ready for top of the game through the year</p>
    </div>

    <div class="flex flex-col items-center text-center mt-28">
      <h1 class="text-3xl font-bold tracking-tight">Step 8: compliance</h1>

      <div class="mx-auto mt-8 max-w-2xl sm:mt-12 lg:mt-16 lg:max-w-none ml-16 mr-16 md:ml-28 md:mr-28">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
          <div class="flex flex-col">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Quality.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500 text-left">Over the years, we have faced the challenge of demonstrating compliance. Working with higly regulated business like banks and boards, one should have compliance in check</dd>
          </div>

          <div class="flex flex-col">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Lock.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500 text-left">We are focused on making sure that you, as our client, are protected from any type of fraud and error or usage of the code that would lead them to some problems in the future</dd>
          </div>

          <div class="flex flex-col">
            <dt class="flex justify-center font-semibold leading-7 text-gray-900">
              <div class="mb-6 flex h-10 w-10 items-center justify-center">
                <img src="{{ asset "images/Shield - 2.svg"}}" >
              </div>
            </dt>
            <dd class="mt-2 text-sm leading-6 text-gray-500 text-left">Furthermore, we have policies and control procedures to ensure client’s protection. From safely storying documents, access rights but at the same time not sacrificing agility</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="mt-20 mb-20 md:mt-40 md:mt-40 md:col-span-2">
      <h1 class="text-4xl font-bold tracking-tight text-center mb-5">Make it happen</h1>
      <form action="#" method="POST">
        <div class="overflow-hidden lg:pl-40 lg:pr-40">
          <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="full-name" class="block text-sm font-medium text-gray-600 text-left">Full name</label>
                <input type="text" name="full-name" id="full-name" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="email" class="block text-sm font-medium text-gray-600 text-left">Email</label>
                <input type="email" name="email" id="email" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3">
              </div>
            </div>
            <div class="col-span-12 mt-5">
              <label for="street-address" class="block text-sm font-medium text-gray-600 text-left">Message</label>
              <textarea name="message" id="message" rows="5" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm pl-3 pt-3"></textarea>
            </div>
          </div>
          <div class="px-4 py-3 text-center sm:px-6">
            <button href="#" class="group inline-flex items-center justify-center rounded-full py-3 px-8 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Start your Project</button>
          </div>
          <p class="mt-3 text-gray-600 text-sm text-center">By clicking &quot;Start your Project&quot; you agree to the Privacy Policy and Terms of Use </p>
        </div>
      </form>
    </div>

  </div>
</main>

{{> footer other=true}}
