{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 lg:pt-20 text-center">
    <div class="text-center">
      <h1 class="text-5xl font-bold tracking-tight">Contributing to <br /> The Open Source Community</h1>
      <p class="mt-4 leading-8 text-gray-600">We helped build many startups in various industries. We are sure we can help you too. <br /> Tell us more about your project or idea</p>
    </div>

    <div class="x-auto max-w-7xl sm:px-6 lg:px-8 bg-gray-50 mt-24 pb-14">
      <p class="text-3xl font-semibold pt-14">Finance Math Gem</p>
      <p class="text-sm text-gray-600 mt-2">Technologies: Ruby, Ruby/Rspec  ·  Maintainability grade: A</p>
      <div class="flex justify-center">
        <div class="relative mt-10" style="width: 230px;">
          <span class="text-2xl font-semibold">100k + </span>
          <span class="font-semibold">downloads</span>
          <img class="absolute" style="top: -20px; right: 0px;" src={{asset "images/freehand/open_source/01.svg"}} />
        </div>
      </div>
      <div class="pl-28 pr-28">
        <p class="text-sm text-gray-500 mt-12 text-left">Implementation of Loan/Mortgage functions in Ruby language, APR function and PMT function. In calculations, it includes implementation of bank fee, marketplace fee, fees for each payment, in order to provide the most precise calculation at very high speed</p>
        <div class="flex items-center mt-2">
          <img src={{ asset "images/link.png"}}  />
          <div class="ml-2 text-xs text-gray-400">View Source</div>
        </div>
      </div>
      <div class="mt-4 pl-32 pr-32">
        <p class="text-xs text-gray-400 mb-2 font-semibold tracking-widest">USING IT</p>
        <img src={{ asset "images/using_it.png"}}  />
      </div>
      <div class="px-4 py-3 text-center sm:px-6 mt-12">
        <a href="#">
          <button class="group inline-flex items-center justify-center rounded-full py-3 px-10 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">View on Github</button>
        </a>
      </div>
    </div>

    <div class="x-auto max-w-7xl sm:px-6 lg:px-8 bg-gray-50 mt-24 pb-14">
      <p class="text-3xl font-semibold pt-14">Splice Machine</p>
      <p class="text-sm text-gray-600 mt-2">Rails/JRuby adapter  ·  Featured in Techcrunch magazine</p>
      <div class="flex justify-center">
        <div class="relative mt-10" style="width: 400px;">
          <span class="text-2xl font-semibold">400k+ </span>
          <span class="font-semibold">requests/s on single resource using JRuby</span>
          <img class="absolute" style="width: 164px; top: 36px; left: -10px;" src={{asset "images/freehand/open_source/02.svg"}} />
        </div>
      </div>
      <div class=" pl-28 pr-28">
        <p class="text-sm text-gray-500 mt-12 text-left">Splice Machine is a SQL Engine that powers big data applications using industry standard SQL on a scale-out architecture so you can focus on the business logic. Applications cannot wait for MapReduce to crawl through big data. They need to produce results in the moment, and they need to do that consistently, regardless of data growth and exploding usage.</p>
        <div class="flex items-center mt-2">
          <img src={{ asset "images/link.png"}}  />
          <div class="ml-2 mr-5 text-xs text-gray-400">Splice Adapter</div>
          <img src={{ asset "images/link.png"}}  />
          <div class="ml-2 text-xs text-gray-400">Splice Engine</div>
        </div>
      </div>
      <div class="px-4 py-3 text-center sm:px-6 mt-12">
        <a href="#">
          <button class="group inline-flex items-center justify-center rounded-full py-3 px-10 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">View on Github</button>
        </a>
      </div>
    </div>

    <div class="x-auto max-w-7xl sm:px-6 lg:px-8 bg-gray-50 mt-24 pb-14">
      <p class="text-3xl font-semibold pt-14">Chat API</p>     
      <p class="text-sm text-gray-500 mt-6">API built in Phoenix and Elixir to represent best practices in this awesome framework. You can check out DB <br /> relations, Tests, Models, controllers and all other essential elements of the API. <br /> You can find the API documentation as well.</p>       
      <div class="px-4 py-3 text-center sm:px-6 mt-12">
        <a href="#">
          <button class="group inline-flex items-center justify-center rounded-full py-3 px-10 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">View on Github</button>
        </a>
      </div>
    </div>

    <div class="x-auto max-w-7xl sm:px-6 lg:px-8 mt-24 pb-14">
      <p class="text-3xl font-semibold pt-14">Why so much time <br /> for open source programming?</p>     
      <p class="text-sm text-gray-500 mt-6">It benefits the community, as well as our team. On the one hand, we get to practice our skills and develop something we need, <br /> and on the other, we have a chance to contribute to the community.  Also, we use open source projects and in most cases we try <br /> to improve their current versions and give back to both contributors and the community</p>       
    </div>

    <h1 class="text-3xl font-bold tracking-tight text-center mb-12" style="margin-top: 100px;">Get in touch</h1>
    <div class="container-fluid" style="padding-left: 30%;">
      <div class="contact-section">
        <div class="row">
          <div class="container">
            <div></div>
            <div class="row">
              <div class="col-lg-8 col-md-12">
                <div class="posting-form cover">
                  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
                  <script>
                    hbspt.forms.create({
                    portalId: "1118038",
                    region: "na1",
                    formId: "0207a4e3-9ea2-4b7b-a5d2-b8eb561ba7dd",
                    locale: 'en',
                    version: "V2_PRERELEASE",
                    onFormSubmit: function($form) {
                      $('.cover').removeClass('cover');
                      ga('send', 'event', 'conversion', 'contact');
                      setFormParameters($form)
                    } 
                  });
                  </script>
                </div>          
                
              </div>
            </div>
          </div>
        </div>
      <!-- Contact form scripts start -->
      <!-- Contact form scripts end -->
      </div>
    </div> 
  </div>
</main>

{{> footer other=true}}
