{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 lg:pt-20 text-center">
    <div class="text-center">
      <div class="flex justify-center">
        <h1 class="relative text-5xl font-bold tracking-wide" style="width: 360px;">
          Design Review
          <img class="absolute" style="top: -15px; right: -44px;" src={{asset "images/freehand/design_review/01.svg"}} />
        </h1>
      </div>
      <p class="mt-8 leading-7 text-gray-600">Submit your design project and we’ll send you a full report</p>
    </div>
    <div class="mt-12 flex justify-center gap-x-6">
      <a href="#form">
        <button class="group inline-flex items-center justify-center rounded-full py-3 px-16 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Submit</button>
      </a>
    </div>

    <div class="flex flex-col items-center mt-20 pt-10">
      <h1 class="text-4xl font-bold tracking-tight">Why should you do this?</h1>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-6 lg:mt-10 lg:max-w-none ml-40 mr-40">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
          <div class="flex flex-col">
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
              <p class="flex-auto text-left text-gray-500 text-sm">Let&apos;s say you want to create a web or a mobile app. You spend a few weeks working on your project and, after a while, everything starts falling into place and looking really well-put together. Soon, you&apos;re ready to show your work to the world.</p>
              <p class="flex-auto text-left text-gray-500 text-sm mt-3">However, right before the official launch, you begin to wonder whether everything is as great as you think it is. So, with this in mind, you decide to do a final check of your design.</p>
              <p class="flex-auto text-left text-gray-500 text-sm mt-3">Remember: there is a bit more to a design than just choosing the right colors and playing with different fonts. A project can’t just be “easy on the eyes” and “looking pretty”—believe it or not, this is not enough to keep your visitors where you want them.</p>
            </dd>
          </div>

          <div class="flex flex-col">
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
              <p class="flex-auto text-left text-gray-500 text-sm">Your website or app design should reflect your business idea and concept. It should be able to engage your potential clients/consumers and actually make them want to stick around. In fact, it should function so perfectly that they’ll think there’s no better app or website for them to use.</p>
              <p class="flex-auto text-left text-gray-500 text-sm mt-3">Sometimes, after you&apos;re done with the project, it can be hard to notice what’s missing and what needs to be fixed. It almost feels like it would be nice to have a software design review team to help you out. Well, if this happens to you, remember that our designers are more than happy to review your design for you! In order to provide you with a complete analysis of your project, we are going to test the following categories and a lot more. After we are finished with the testing, you will receive a full design review to your email.</p>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="overflow-hidden bg-white py-24 sm:py-32 sm:pl-20 sm:pr-20">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="flex justify-center">
          <h1 class="relative text-4xl font-bold tracking-wide mb-20" style="width: 400px;">
            Design Review options
            <img class="absolute" style="top: -25px; right: -55px;" src={{asset "images/freehand/design_review/02.svg"}} />
          </h1>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:mt-10">
          <div class="lg:ml-auto lg:pl-4">
            <div class="lg:max-w-lg">
              <p class="mt-2 text-lg font-bold tracking-tight text-gray-900 text-left">How to create good error message?</p>
              <p class="mt-2 leading-8 text-gray-500 text-sm text-left">First, you need to explain the situation, then how/why it occurred and what the user should do next. This process can fit into one well-put sentence</p>
              <p class="mt-3 leading-8 text-gray-500 text-sm text-left">Be sure to utilize user&apos;s vocabulary, to make sure the error message is even more clear. Keep in mind that “Something happened.” is not an informative or specific error message</p>
            </div>
          </div>
          <div class="lg:order-first w-3/4">
            <p class="relative text-3xl font-bold text-left">
              System Messages
              <img class="absolute" style="width: 260px; top: 45px; left: 0px;" src={{asset "images/freehand/design_review/03.svg"}} />
            </p>
            <div class="flex-column mt-10">
              <div class="flex items-center justify-between">
                <div class="flex items-center justify-center">
                  <img src={{ asset "images/don_t.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Don&apos;t</div>
                </div>
                <img src={{ asset "images/don_t-system-message.png"}} width="220" height="220" />
              </div>
              <div class="flex items-center justify-between mt-10">
                <div class="flex items-center justify-center">
                  <img src={{ asset "images/do.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Do</div>
                </div>
                <img src={{ asset "images/do-system-message.png"}}  width="220" height="220" />
              </div>
            </div>
          </div>
        </div>

        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 mt-32">
          <div class="lg:ml-auto lg:pl-4">
            <div class="lg:max-w-lg">
              <p class="mt-2 leading-8 text-gray-500 text-sm text-left">Remember that people come to your website to read the content. This means that typography has a significant impact on how successful your website is.</p>
              <p class="mt-3 leading-8 text-gray-500 text-sm text-left">Fonts define the character of the website. They have to go hand in hand with the character or purpose of the company and content. Additionally, aligning the text defines how readable the content is. If the user has to use a magnifying glass to read the content, something’s not right</p>
            </div>
          </div>
          <div class="lg:order-first w-3/4">
            <p class="relative text-3xl font-bold text-left">
              Typography
              <img class="absolute" style="width: 172px; top: 45px; left: 0px;" src={{asset "images/freehand/design_review/04.svg"}} />
            </p>
            <div class="flex items-start justify-between mt-14">
              <div class="mr-8">
                <div class="flex items-center mb-8">
                  <img src={{ asset "images/don_t.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Don&apos;t</div>
                </div>
                <img src={{ asset "images/don_t_typography.png"}} width="220" height="220" />
              </div>
              <div>
                <div class="flex items-center mb-8">
                  <img src={{ asset "images/do.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Do</div>
                </div>
                <img src={{ asset "images/do_typography.png"}} width="220" height="220" />
              </div>
            </div>
          </div>
        </div>

        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 mt-32">
          <div class="lg:ml-auto lg:pl-4">
            <div class="lg:max-w-lg">
              <p class="mt-2 text-lg font-bold tracking-tight text-gray-900 text-left">Have you ever heard about the color wheel?</p>
              <p class="mt-2 leading-8 text-gray-500 text-sm text-left">This wheel is the foundation of good website design and great user experience. This wheel has only one rule - every color in there has a value that determines how well the color will go with the others. Remember, color harmony should provide a logical structure. The logical structure will make sure that the user finds the website interesting and worth his/her time</p>
              <p class="mt-3 leading-8 text-gray-500 text-sm text-left">Color hue, saturation, tone - colors have so many elements. These are just some of the tips and tricks you should keep in mind</p>
            </div>
          </div>
          <div class="lg:order-first w-3/4">
            <p class="relative text-3xl font-bold text-left">
              Colors
              <img class="absolute" style="width: 100px; top: 34px; left: 0px;" src={{asset "images/freehand/design_review/05.svg"}} />
            </p>
            <div class="flex items-start justify-between mt-12">
              <div class="mr-8">
                <div class="flex items-center mb-8">
                  <img src={{ asset "images/don_t.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Don&apos;t</div>
                </div>
                <img src={{ asset "images/dont-colors.png"}} width="150" />
              </div>
              <div>
                <div class="flex items-center mb-8">
                  <img src={{ asset "images/do.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Do</div>
                </div>
                <img src={{ asset "images/do-colors.png"}} width="150"  />
              </div>
            </div>
          </div>
        </div>

        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 mt-32">
          <div class="lg:ml-auto lg:pl-4">
            <div class="lg:max-w-lg">
              <p class="mt-2 leading-8 text-gray-500 text-sm text-left">Nowadays, when people simply scan the content, the contrast between foreground and background is more important than ever. Having high-contrast text means you know what UX is all about..</p>
              <p class="mt-3 leading-8 text-gray-500 text-sm text-left">The first thing you have to do is to make sure that the background enhances the foreground. By doing this, user’s learning curve is going to be more efficient. The user is not going to have a problem with finding other elements on the page. That’s how you get a user engaged!</p>
            </div>
          </div>
          <div class="lg:order-first w-3/4">
            <p class="relative text-3xl font-bold text-left">
              Foreground <br /> & Background
              <img class="absolute" style="width: 200px; top: 82px; left: 0px;" src={{asset "images/freehand/design_review/06.svg"}} />
            </p>
            <div class="flex items-start justify-between mt-14">
              <div class="mr-8">
                <div class="flex items-center mb-8">
                  <img src={{ asset "images/don_t.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Don&apos;t</div>
                </div>
                <img src={{ asset "images/dont-foreground-background.png"}} width="150" />
              </div>
              <div>
                <div class="flex items-center mb-8">
                  <img src={{ asset "images/do.svg"}} width="10" height="10" />
                  <div class="ml-2 font-bold">Do</div>
                </div>
                <img src={{ asset "images/do-foreground-background.png"}} width="150"  />
              </div>
            </div>
          </div>
        </div>

        <p class="relative text-3xl font-bold text-left mt-40" style="width: 450px;">
          + many more UI & UX features
           <img class="absolute" style="width: 250px; top: 45px; right: 20px;" src={{asset "images/freehand/design_review/07.svg"}} />
        </p>
      </div>
    </div>

    <div id="form" class="mt-20 mb-40 md:col-span-2 sm:pl-20 sm:pr-20 lg:pl-40 lg:pr-40">
      <div class="flex justify-center">
        <h1 class="relative text-4xl font-bold tracking-wide text-center" style="width: 420px;">
          Let&apos;s check your design
          <img class="absolute" style="top: -15px; right: -34px;" src={{asset "images/freehand/design_review/01.svg"}} />
        </h1>
      </div>
      <form action="https://api.formbucket.com/f/buk_mxjjrWvZSEw3MqXtVJfAR4QJ" id="my-awesome-form" method="POST" class="space-y-8 codereview-form">
        <div class="space-y-8">
        
          <div class="pt-8">
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="full-name" class="block text-sm font-medium text-gray-700 text-left">Your name *</label>
                <div class="mt-1">
                  <input type="name" required id="exampleInputName1" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="email" class="block text-sm font-medium text-gray-700 text-left">Your email *</label>
                <div class="mt-1">
                  <input type="email" required id="exampleEmail1" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="company" class="block text-sm font-medium text-gray-700 text-left">Your company *</label>
                <div class="mt-1">
                  <input type="text" required id="Company1" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="url" class="block text-sm font-medium text-gray-700 text-left">Enter URL here *</label>
                <div class="mt-1">
                  <input type="text" id="Code1" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
                </div>
              </div>


              <div class="sm:col-span-6">
                <label for="description" class="block text-sm font-medium text-gray-700 text-left">Why are you using our service?</label>
                <div class="mt-1">
                  <textarea rows="7" id="Service1" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm pl-3 pt-3"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="mt-6">
              <fieldset class="mt-6">
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <input id="Review1" name="checkbox" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" checked />
                    <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700">Basic Review (free)</label>
                  </div>
                  <div class="flex items-center">
                    <input id="Review2" name="checkbox" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" />
                    <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">Full review (price calculated by type and size of project)</label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <p class="text-sm text-gray-500 text-left">*We hold the right to reject code review if it doesn’t match our technologies, project size or similar criteria</p>
        <p class="text-sm text-gray-500 text-left">If full review is requested our team will contact you with further details based on project size, type and technologies used</p>

        <div class="px-4 py-3 text-center sm:px-6">
          <button type="submit" class="group inline-flex items-center justify-center rounded-full py-3 px-16 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Submit</button>
          <p class="mt-5 text-gray-500 text-sm text-center">By clicking &quot;Submit&quot; you agree to the Privacy Policy and Terms of Use </p>
        </div>
      </form>
    </div>

  </div>
</main>

{{> footer other=true}}
