{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

{{> navigation post_page=true}}

{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<main id="site-main" class="site-main">
  <div class="mx-auto max-w-7xl px-6 pt-4">
    <div class="mb-5">
      {{#if tags}}
      <ul class="flex justify-center mb-3">
        {{#foreach tags}}
          <li>
            <div class="text-xs mb-2 py-1 px-3 mr-3 rounded-xl border border-gray-900 text-center font-medium">{{name}}</div>
          </li>
        {{/foreach}}
        </ul>
      {{/if}}
      <h1 class="text-5xl font-medium tracking-tight text-center" style="line-height: 60px;">{{title}}</h1>
      {{#primary_author}}
        <figcaption class="relative mt-5 flex justify-center items-center px-6">
          <div class="overflow-hidden rounded-full bg-slate-50 mr-5">
            <img
              class="h-12 w-12 object-cover"
              src={{profile_image}}
            />
          </div>
          <div>
            <div class="font-display text-base text-slate-900">
            {{name}}
            </div>
   
            <div class="text-xs text-gray-400 text-left">
              <!--span class="mr-2">{{date ../published_at format="MMMM D, YYYY"}}</span>
              {{#if ../reading_time}}
                <span>{{../reading_time}} min read</span>
              {{/if}}
            </div-->
          </div>
        </figcaption>
      {{/primary_author}}
    </div>
    <div class="flex-column lg:flex justify-between">
      <section class="pt-6">
       <div class="flex justify-between mb-6">
         <a href="https://twitter.com/kolosekcom" class="text-gray-400 hover:text-gray-500 px-14 py-2 bg-gray-50"  target="_blank">
           <img src="{{ asset "images/twitter-black.svg"}}" style="width: 22px; height: 22px;">
          </a>
          <a href="https://www.facebook.com/Kolosekcom/" class="text-gray-400 hover:text-gray-500 px-14 py-2 bg-gray-50"  target="_blank">
           <img src="{{ asset "images/facebook-black.svg"}}" style="width: 22px; height: 22px;">
          </a>
          <a href="https://rs.linkedin.com/company/kolosek-it" class="text-gray-400 hover:text-gray-500 px-14 py-2 bg-gray-50"  target="_blank">
           <img src="{{ asset "images/linkedin-black.svg"}}" style="width: 22px; height: 22px;">
          </a>
          <a href="https://www.instagram.com/kolosekcom/?hl=en" class="text-gray-400 hover:text-gray-500 px-14 py-2 bg-gray-50"  target="_blank">
            <img src="{{ asset "images/instagram-black.svg"}}" style="width: 22px; height: 22px;">
          </a>    
          <a href="https://github.com/kolosek" class="text-gray-400 hover:text-gray-500 px-14 py-2 bg-gray-50"  target="_blank">
            <img src="{{ asset "images/git-black.svg"}}" style="width: 22px; height: 22px;">
          </a>
        </div>
          <section class="post-content gh-content gh-canvas">
            {{content}}
          </section>
      </section>

      <div class="mt-5 pl-20">
        <p class="w-72 text-3xl font-bold text-left">Creating <br /> software solutions <br /> that work</p>
        <div class="flex space-x-6 mt-6 ml-1">
          <a href="https://github.com/kolosek" class="text-gray-400 hover:text-gray-500" target="_blank">
            <img src="{{ asset "images/git-black.svg"}}">
          </a>

          <a href="https://www.facebook.com/Kolosekcom/" class="text-gray-400 hover:text-gray-500" target="_blank">
           <img src="{{ asset "images/facebook-black.svg"}}">
          </a>

          <a href="https://www.instagram.com/kolosekcom/?hl=en" class="text-gray-400 hover:text-gray-500" target="_blank">
            <img src="{{ asset "images/instagram-black.svg"}}">
          </a>

          <a href="https://twitter.com/kolosekcom" class="text-gray-400 hover:text-gray-500" target="_blank">
           <img src="{{ asset "images/twitter-black.svg"}}">
          </a>

          <a href="https://rs.linkedin.com/company/kolosek-it" class="text-gray-400 hover:text-gray-500" target="_blank">
           <img src="{{ asset "images/linkedin-black.svg"}}">
          </a>
        </div>
        <div class="w-64 mt-10 border-2 border-gray-200 pt-4 px-3">
          <h2 class="text-lg font-bold tracking-tight text-gray-900 text-center mb-4">Explore topics</h2>
          {{#get "tags" limit="4" include="count.posts" order="count.posts desc"}}
            {{#foreach tags}}
              {{#if @last}}
                <div class="flex justify-between py-3">
                  <div class="text-gray-900 font-medium">{{name}}</div>
                  <div  class="text-gray-900 font-medium">{{count.posts}}</div>
                </div>
              {{else}}
                <div class="flex justify-between pt-3 pb-1 border-b-2 border-gray-200">
                  <div class="text-gray-900 font-medium">{{name}}</div>
                  <div  class="text-gray-900 font-medium">{{count.posts}}</div>
                </div>
              {{/if}}
            {{/foreach}}
          {{/get}}
        </div>

        <div class="w-64 mt-8 bg-gray-50 py-4 px-3">
          <h2 class="text-lg font-bold tracking-tight text-gray-900 text-center mb-2">Latest posts</h2>
          {{#get "posts" limit="6" order="published_at desc" include="authors,tags"}}
            <ul>
              {{#foreach posts}}
                <li class="pt-2 pb-2 pl-2">
                  <a href={{url}} class="font-medium">{{title}}</a>
                </li>
              {{/foreach}}   
            </ul>  
          {{/get}}
        </div>
      </div>
    </div>

    <div class="mt-24 mb-20">
      <h2 class="text-lg font-bold tracking-tight text-gray-900 text-left">You might also like</h2>
      {{#if @custom.show_recent_posts_footer}}
          {{#get "posts" filter="id:-{{id}}" limit="3" include="authors,tags" as |more_posts|}}

              {{#if more_posts}}
                <ul class="flex-column lg:flex justify-between mt-8">
                  {{#foreach more_posts}}
                    <div class="mb-4">
                      {{> "post-card-full" show_image=false}}
                    </div>
                  {{/foreach}}
                </ul>
              {{/if}}

          {{/get}}
      {{/if}}
    </div>
  </div>
</main>


{{/post}}

{{> footer post_page=true}}
